.hero-container {
  width: 70%;
  display: flex;
  justify-content: space-between;
  padding-top: 2rem;
  position: absolute;
  bottom: -1%;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
}

.left {
  padding-top: 2rem;
  font-family: "Neue Helvetica Medium";
  overflow-wrap: break-word;
  margin-top: 1.3rem;
}

.left p {
  color: white;
  font-size: 4rem;
}

.left p span {
  color: #43afff;
  font-family: "Neue Helvetica Bold";
}

.left p:last-child {
  color: red !important;
}

.left button {
  color: white;
  background-color: #43afff;
  border: 1px solid #43afff;
  border-radius: 5px;
  padding: 0.6rem 1.3rem;
  margin-top: 1.5rem;
  font-size: 1.1rem;
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

.hero-container img {
  width: auto;
  height: 320px;
  border-radius: 30px;
  object-fit: cover;
}
